<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.admin.AllUserMapper">


    <select id="getAll" resultType="com.example.pojo.User">
        select * from city_walk.users;
    </select>

    <select id="queryUserById" resultType="com.example.pojo.User">
        select * from city_walk.users where userId = #{userId};
    </select>

    <insert id="addUser" parameterType="com.example.pojo.User">
        insert into users(openId,userId,nameplateNumber,headshot,nickname,email,phone,sex,
                          ipTerritory,birthday,area,school,tagWords,slogan,userPermissions,able,token)
        values (#{openId},#{userId},#{nameplateNumber},#{headshot},#{nickname},#{email},
               #{phone},#{sex},#{ipTerritory},#{birthday},#{area},#{school},#{tagWords},
               #{slogan},#{userPermissions},#{able},#{token});
    </insert>

    <delete id="deleteUser">
        delete from city_walk.users where userId = #{userId};
    </delete>

    <update id="update">
        update city_walk.users set nameplateNumber=#{nameplateNumber},headshot=#{headshot},
                                   nickname=#{nickname},email=#{email},phone=#{phone},sex=#{sex},
                                   ipTerritory=#{ipTerritory},birthday=#{birthday},area=#{area},
                                   school=#{school},tagWords=#{tagWords},slogan=#{slogan},userPermissions=#{userPermissions},
                                   able=#{able},token=#{token},openId=#{openId}
        where userId=#{userId}
    </update>

</mapper>
