<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.creation.CreationMapper">

<!--    添加创作内容-->
    <insert id="insertCreation" keyProperty="creationId" useGeneratedKeys="true">
        INSERT INTO
            creation
            (creationTitle,creationContent,publishDate,publishUserOpenId)
        VALUES
            (#{creationTitle}, #{creationContent}, #{publishDate}, #{publishUserOpenId})
    </insert>


</mapper>
