<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.activity.CommentMapper">

    <!--    添加评论内容-->
    <insert id="insertComment">
        INSERT INTO `comment`
            (activityId,commentContent,commentDate,openId)
        VALUES
            (#{activityId}, #{commentContent},#{commentDate}, #{openId})
    </insert>

    <!--    展示评论内容-->
    <select id="queryComment" resultType="com.example.pojo.Comment">
        SELECT
               *
        FROM
             `comment`
        WHERE
              activityId = #{activityId}
    </select>


</mapper>
